/***********************ELEMENT***********************/
::selection {
    background: black;
    color: white;
}

::placeholder {
    color: #112D4E;
    opacity: 0.7;
}

body {
    margin: 0;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 10px;
    }
}

button {
    margin-left: 32px;
    margin-right: 64px;
    margin-bottom: 6px;
    padding: 0;
    border: none;
    background-color: #112D4E;
    color: #F9F7F7;
}

@media screen and (max-width: 700px) {
    button {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    button {
        margin-left: 16px;
        margin-right: 42px;
    }
}

img {
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 32px;
    height: 32px;
}

img:hover {
    width: 40px;
    height: 40px;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    img {
        width: 26px;
        height: 26px;
    }

    img:hover {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 700px) {
    table {
        font-size: 13px;
    }
}

/***********************CLASS***********************/

.a {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    text-decoration: none;
    color: #3F72AF;
    transition: all 0.5s ease 0s;
}

.a:hover {
    background-color: #3F72AF;
    color: #F9F7F7;
}

.a_2 {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    text-decoration: none;
    color: #3F72AF;
}

.anim1s {
    animation: anim1s 1s;
}

.anim2s {
    animation: anim2s 1s;
}

.anim3s {
    animation: anim3s 1s;
}

@keyframes anim1s {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes anim2s {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes anim3s {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.b_center {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width: 700px) {
    .b_center {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.b_c-1 {
    background-color: #F9F7F7;
}

.hlt {
    text-align: center;
    display: inline-block;
    background-color: #3F72AF;
    color: #F9F7F7;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 200px;
}

.c-2 {
    color: #DBE2EF;
}

.c-3 {
    color: #3F72AF;
}

.c-4 {
    color: #112D4E;
}

.dplay_ib {
    display: inline-block;
}

.line_1 {
    border-color: #112D4E;
    border-top-width: 3px;
    width: 50%;
    border-style: solid none none none;
    border-radius: 100%;
}

.line_2 {
    border-color: #112D4E;
    border-style: solid none none none;
    width: 25%;
    border-radius: 100%;
    margin-top: 42px;
    margin-bottom: 42px;
}

.margin_h {
    margin-left: 64px;
    margin-right: 64px;
}

.margin_t {
    margin-top: 33px;
}

.nav_bar {
    opacity: 1;
    text-align: center;
    border-radius: 0px 0px 147px 147px;
    margin: auto;
    background-color: #112D4E;
    width: 50%;
    height: 60px;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 800px) {
    .nav_bar {
        width: 100%;
    }
}

.opening {
    animation: opening 1s;
}

@keyframes opening {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.pill {
    width: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    margin-bottom: 42px;
    background-color: #3F72AF;
    color: #F9F7F7;
    border-radius: 100px;
}

@media screen and (max-width: 675px) {
    .pill {
    width: 98%;
    font-size: 13px;
    }
}

.snd_button {
    transition: 0.3s;
    margin: 0;
    margin-top: 13px;
    width: 100px;
    height: 23px;
    border-radius: 20px;
}

.snd_button:hover {
    width: 120px;
}

.t_area {
    padding: 10px;
    transition: 0.1s;
    margin-top: 13px;
    resize: none;
    border-radius: 7px;
    border-width: 0.001cm;
    width: 50%;
    height: 133px;
}

.t_area_2 {
    border-radius: 7px;
    border-width: 0.001cm;
    margin-top: 3px;
    padding: 10px;
    transition: 0.1s;
    height: 13px;
}

.t_area:focus {
    outline-color: #112d4e99;
    outline-style: solid;
    outline-width: 0.3em;
}

.t_area_2:focus {
    outline-color: #112d4e99;
    outline-style: solid;
    outline-width: 0.3em;
}

.t_center {
    text-align: center;
}

.t_start {
    text-align: start;
}

.timeline {
    font-size: 12px;
}

@media screen and (max-width: 400px) {
    .timeline {
        font-size: 10px;
    }
}

.w100 {
    width: 50%;
}